:root{
    font-family: Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: clamp(16px, 2vw, 24px);
    --green: #009578;
    --greenS: #008067;
    --white: #ffffff;
    --grey: #dddddd;
    --hover: #fd7e14;
    --black: #000000;
    --error: #CC0000FF;
}

*{
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-color: var(--green);
    color: var(--white);
    display: flex;
    min-height: 100vh;
    flex-direction: row;
    margin: 0;
    overflow-x: hidden;
    overflow-y: auto;
}

.error{
    color: var(--error);
}

span.warning{
    font-size: 15px;
    color: var(--bs-warning);
    text-shadow: 2px 4px 3px rgba(0,0,0,0.3);
}



/******************************
 *  INIZIO CSS di Navbar.jsp  *
 ******************************/
.coll-1 {
    background: var(--greenS);
    flex: 0.5;
    transition: all .3s ease-in-out
}

.coll-1.collapsee{
    -webkit-transform: translate(-230px, 0);
    -moz-transform: translate(-230px, 0);
    -o-transform: translate(-230px, 0);
    -ms-transform: translate(-230px, 0);
}

.coll-2 {
    display: flex;
    flex-direction: column;
    flex: 6;
    transition: all .3s ease-in-out;
}

.coll-2.full--width{
    margin-left: -195px;
}

.gridd-y{
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    flex-direction: row;
}

nav{
    padding: 0.7em;
}

nav a{
    text-decoration: none;
    color: var(--white);
    text-shadow: 2px 4px 3px rgba(0,0,0,0.3);
    margin: auto;
}

nav > a:first-child{
    margin: 0!important;
}

nav a:hover{
    color: var(--hover);
}

a > .logoNavbar{
    width: 100%;
    height: auto;
}

.btnn {
    font-family: 'Roboto', sans-serif;
    font-size: 17px;
    text-transform: uppercase;
    letter-spacing: 2.5px;
    font-weight: bold;
    border: none;
    transition: all 0.3s ease 0s;
    cursor: pointer;
    outline: none;
    text-align: center;
    padding: 1.7em;
}

.btnn:hover {
    background-color: #2EE59D;
    box-shadow: 0 15px 20px rgba(46, 229, 157, 0.4);
    color: var(--black);
    border-radius: 12px;
}

.covidRedImg{
    width: 60%;
    height: auto;
    margin: auto;
}



/******************************
 *  INIZIO CSS di Logout.jsp  *
 ******************************/
.modall {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* scroll se necessario */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Content */
.modal-contentt {
    position: fixed;
    background-color: #fefefe;
    margin: auto;
    left: 50%;
    transform: translate(-50%, 0);
    padding: 0;
    width: 80%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s;
    border: none;
}

.modal-headerr > h2{
    font-family: 'Roboto', sans-serif;
    text-transform: uppercase;
    letter-spacing: 2.5px;
    text-shadow: 2px 4px 3px rgba(0,0,0,0.3);
    font-weight: bold;
    border: none;
    padding-top: 0.3em;
    transition: all 0.3s ease 0s;
}

/* Animation Modal*/
@-webkit-keyframes animatetop {
    from {top:-300px; opacity:0}
    to {top:0; opacity:1}
}

@keyframes animatetop {
    from {top:-300px; opacity:0}
    to {top:0; opacity:1}
}

/* Close Button */
.close {
    padding: 0 10px 0 9px;
    margin-top: 8px;
    border: 2px solid rgba(255,255,255,0.6);
    border-radius: 10px;
    color: white;
    float: right;
    font-size: 28px;
    font-weight: bold;
    transition: .3s;
}

@media screen and (max-width: 890px){
    .close{
        font-size: 24px;
        margin-top: 3px;
    }
}

.close:hover{
    background-color: #2EE59D;
    border: 2px solid rgba(24,24,24,0.6);
    box-shadow: 0 15px 20px rgba(46, 229, 157, 0.4);
    color: var(--black);
}

.close:hover, .close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.modal-headerr {
    padding: 2px 16px;
    background-color: var(--greenS);
    color: white;
}

.modal-bodyy {
    padding: 2px 0 0 25px;
    background-color: var(--green);
}

.modal-bodyy p{
    font-size: 16px;
    padding: 5px 0 5px 0;
}

.modal-footerr {
    padding: 18px;
    background-color: var(--greenS);
}

.modal-button {
    padding: 10px;
    color: #ffffff;
    font-weight: bold;
    background: var(--greenS);
    width: 100px;
    border: none;
    outline: none;
    border-radius: 5px;
    cursor: pointer;
    transition: .3s;
}

.modal-button:hover{
    background-color: #2EE59D;
    box-shadow: 0 15px 20px rgba(46, 229, 157, 0.4);
    color: var(--black);
    border-radius: 14px;
}

.modal-button:first-child{
    margin-right: 20px;
}



/******************************
 *  INIZIO CSS di Header.jsp  *
 ******************************/
header {
    background: var(--greenS);
    padding: 0.1em;
    width: inherit;
}

.coll-3 {
    display: flex;
    flex-direction: column;
    flex: 6;
    transition: all .3s ease-in-out;
    width: 6%;
}

.my-row{
    display: grid;
    grid-template-columns: 2.6em auto;
    padding: 10px;
}

.coll-4 {
    display: flex;
    flex-direction: column;
    flex: 6;
    transition: all .3s ease-in-out;
    width: 100%;
}

span.account {
    text-shadow: 2px 4px 3px rgba(0,0,0,0.3);
    font-size: 21px;
    margin-top: 0.45em;
}

.angle-double-up{
    border: 2px solid rgba(255,255,255,.5);
    cursor: pointer;
    transition: .3s;
    padding: 5px;
    width: 40.8px;
    height: 40.8px;
}

.angle-double-up:hover{
    background-color: #2EE59D;
    box-shadow: 0 15px 20px rgba(46, 229, 157, 0.4);
    color: var(--black);
    border-radius: 12px;
}

@media screen and (max-width: 1200px) {
    span.account{
        margin-left: 1em;
        margin-top: 0;
    }
}



/******************************
 *  INIZIO CSS di Footer.jsp  *
 ******************************/
footer {
    background: var(--green);
    height: 3vh;
    font-size: 14px;
    align-content: flex-end;
    text-align: right;
    margin-top: auto;
    margin-bottom: 1.6em;
}

footer > span{
    margin: 20px;
}