:root{
    font-family: Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: clamp(16px, 2vw, 24px);
    --green: #009578;
    --greenS: #008067;
    --white: #ffffff;
    --grey: #dddddd;
    --hover: #fd7e14;
    --black: #000000;
    --error: #CC0000;
}

*{
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}