body{
    background: var(--green);
    margin: 10px 15px 15px;
    text-align: center;
    overflow-y: auto;
    overflow-x: hidden;
}

h1, button{
    font-family: 'Roboto', sans-serif;
    letter-spacing: 2.5px;
    font-weight: bold;
    transition: all 0.3s ease 0s;
    text-align: center;
    color: var(--black);
    text-shadow: 2px 4px 3px rgb(0 0 0 / 30%);
}

h1{
    font-size: 1.3em;
    padding-bottom: 0.35em;
}

.areaPDF{
    display: flex;
    border-style: dashed;
    width: 100%;
    height:25em;
    margin: auto;
}

iframe{
    width: 100%;
}

.areaButton{
    display: flex;
    justify-content: center;
}

button{
    color: #000000;
    font-weight: bold;
    background-color: #2EE59D;
    border: 2px solid;
    font-size: 0.7em;
    margin-top: 1em;
    padding: 0.5em;
    border-radius: 5px;
}

button:hover{
    box-shadow: 0 15px 20px rgba(46, 229, 157, 0.4);
    transition: all 0.3s ease 0s;
}

a{
    display: none;
}

@media screen and (min-width: 421px){
    .areaPDF{
        width: 19em;
    }
}

@media screen and (max-width: 500px){
    span.responsive{
        font-size: 62%;
    }
}

@media screen and (max-width: 420px){
    h5 span{
        font-size: 60%;
    }
}


/********************
* Popup di Conferma *
*********************/
.modal-body p{
    margin: 0!important;
}

.btn{
    font-size: 15px!important;
}

.btn-primary{
    background-color: var(--bs-green);
    border-color: var(--bs-green);
}

.btn-primary:hover{
    background-color: var(--greenS);
    box-shadow: 0 15px 20px rgba(0, 128, 103, 0.4);
}

.btn-secondary{
    background-color: var(--bs-danger);
    border-color: var(--bs-danger);
}

.btn-secondary:hover{
    background-color: var(--error);
    box-shadow: 0 15px 20px rgba(204, 0, 0, 0.4);
}

.modal-footer{
    padding: 0.5rem!important;
}

.modal-title{
    font-size: 25px;
    margin-bottom: 0;
    line-height: 1.5;
    font-weight: 900;
}

