body {
    background-color: var(--green);
    color: var(--white);
    display: flex;
    min-height: 100vh;
    flex-direction: row;
    margin: 0;
    overflow-y: auto;
}

.error{
    color: var(--error);
}

.titleStudent {
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    transition: all 0.3s ease 0s;
    text-align: center;
    color: var(--black);
    padding-bottom: 0.5em;
    max-width: 11em;
    margin: auto;
    font-size: 1.5em;
}

.titleQR{
    text-align: center;
    color: white;
    padding-top: 15px;
}

.coll-2 {
    display: flex;
    flex-direction: column;
    flex: 6;
    transition: all .3s ease-in-out
}

.coll-2.full--width{
    margin-left: -195px;
}

/*Form*/
.student-form,
.student-form *{
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

.student-form {
    max-width: 350px;
    margin: 0 auto;
    border-radius: 5px;
    overflow: hidden;
}

.student-form label{
    display: block;
    text-align: center;
    line-height: 150%;
    font-size: .7em;
    margin: auto;
}

.student-form-content{
    padding: 30px;
    background: #eeeeee;
    margin: auto;
    border-radius: 5px;
}

.student-form-input{
    width: 100%;
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 5px;
    border: 2px solid #dddddd;
    background: #ffffff;
    outline: none;
    transition: border-color 0.5s;
    text-align: center;
    font-size: 0.9em;
}

.student-form-input:focus{
    border-color:#009578;
}

.student-form-input::placeholder{
    color: #aaaaaa;
}

.student-form-button{
    padding: 10px;
    color: #ffffff;
    font-weight: bold;
    background: #009578;
    width: 100%;
    border: none;
    outline: none;
    border-radius: 5px;
    margin-top: 0.5em;
    box-shadow: 0 0 15px rgba(0,0,0,0.15);
    font-size: 0.9em;
}

.student-form-button:active{
    background: #008067;
}

.student-form-button:hover{
    background-color: #2EE59D;
    box-shadow: 0 15px 20px rgba(46, 229, 157, 0.4);
    transition: all 0.3s ease 0s;
    color: var(--black);
}

.avvia-sessione-button{
    padding: 10px;
    color: #ffffff;
    font-weight: bold;
    background: #007d64;
    width: 150px;
    height: 150px;
    border: none;
    border-radius: 100%;
    outline: none;
    cursor: pointer;
}

.student-form-button:hover{
    background-color: #2ee59d;
    box-shadow: 0 15px 20px rgba(46, 229, 157, 0.4);
    transition: all 0.3s ease 0s;
    color: var(--black);
}

.avvia-sessione-button:hover{
    background-color: #2EE59D;
    border-radius: 100%;
    box-shadow: 0 15px 20px rgba(46, 229, 157, 0.4);
    transition: all 0.3s ease 0s;
    color: var(--black);
}

.termina-sessione-button {
    padding: 10px;
    color: #ffffff;
    font-weight: bold;
    background-color: var(--bs-danger);
    border-color: var(--bs-danger);
    border: none;
    align-self: flex-end;
    margin: 15px;
    outline: none;
    border-radius: 5px;
    cursor: pointer;
}

.termina-sessione-button:hover{
    background-color: var(--error);
    box-shadow: 0 15px 20px rgba(204, 0, 0, 0.4);
    transition: all 0.3s ease 0s;
}

/* QRcode style*/
.qrCode {
    width: 33%;
    margin: auto;
    object-fit: contain;
}

.esitoCounter{
    font-size: 200%;
    font-weight: bold;
    margin: 10px;
    align-self: flex-start;
}

@-webkit-keyframes fadeInUp {
    from {
        opacity: 0;
        -webkit-transform: translate(0, 100%);
        transform: translate(0, 100%);
    }
    to {
        opacity: 1;
        -webkit-transform: none;
        transform: none;
    }
}

@keyframes fadeInUp {
    from {
        opacity: 0;
        -webkit-transform: translate(0, 100%);
        transform: translate(0, 100%);
    }
    to {
        opacity: 1;
        -webkit-transform: none;
        transform: none;
    }
}
